<p>Ask your coach anything:</p>
<form action="/answer" id="search">
  <input type="text" name="question" value="<%= params[:question] %>" id="input">
  <input type="submit" value="Ask!" id="submit">
</form>
